{% extends 'base.html' %}

{% block title %} Pet Adoption Agency {% endblock %}


{% block content %}


    <div class="container mt-4">
        <h1 class=""> Pet Adoption Agency</h1>
        <div class="row justify-content-evenly">
            <div class="col-4 align-self-center text-center">
                <a href="/add" class="btn btn-primary btn-lg mt-4 mb-4">Add Pet</a>
            </div>
            {% for pet in pets %}
                <div class="col-lg-4">
                    <div class="card m-2" style="width: 18rem;">
                        <img src="{{pet.photo_url}}" class="card-img-top img-responsive" alt="Pet Profile Picture">
                        <div class="card-body">
                            <h5 class="card-title">{{pet.name}}</h5>

                            {% if pet.available %} 
                                <h6 class="text-success">Available!</h6>
                            {% else %} 
                                <h6 class="text-danger">Not Available</h6>
                            {% endif %}
                            
                            <p class="card-text">{{pet.notes}}</p>
                            <a href="/{{pet.id}}" class="btn btn-sm btn-info">Edit {{pet.name}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}